
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* 
font-family: "Ubuntu", sans-serif;
font-family: "Roboto", sans-serif;
*/

/* common css start */
h1,h2,h3,h4,h5,h6 {
    font-family: "Ubuntu", sans-serif;
}
p{
   font-family: "Roboto", sans-serif; 
}

/* common css end */

/* Top Header Section Start */

.medi-logo h2{
    font-size: 30px;
    font-weight: 700;
    color: #1f2f31;
    margin: 0 ;
}

.medi-logo span{
    color: #099aa7;
}

.navbar ul li{
    padding: 20px;
}